body {
  background-color: #282c34;
  color: #61dafb;
}

.App {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.clockWrapper {
  text-align: center;
  margin-top: 150px;
  width: 700px;
  height: 300px;
  border: 3px solid #61dafb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 100px;
  font-weight: bold;
}