body {
  background-color: #282c34;
  color: #61dafb;
}

.App {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clockWrapper {
  text-align: center;
  margin-top: 150px;
  width: 700px;
  height: 300px;
  border: 3px solid #61dafb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.time {
  font-size: 100px;
  font-weight: bold;
}

.buttonWrapper {
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.button {
  all: unset;
  background-color: #61dafb;
  color: #282c34;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 45px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.stopClockText {
  margin-bottom: 50px;
}

.stopClock {
  padding-top: 300px;
  text-align: center;
  font-size: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Analog clock */

.analogClockWrapper {
  margin-top: 156px;
  width: 450px;
  height: 350px;
  margin-bottom: 45px;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px rgba(97, 218, 251, 0.2);
  font-size: 24px;
  color: #61dafb;
  text-align: center;
}

.clock::after {
  background: #aaa;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.hour_hand {
  position: absolute;
  width: 6px;
  height: 60px;
  background: #61dafb;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  width: 4px;
  height: 80px;
  background: #777777;
  top: 22.5%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 2px;
  height: 118px;
  background: red;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.twelve {
  top: 10px;
  left: 46%;
}

.one {
  top: 10%;
  right: 26%;
}

.eleven {
  top: 10%;
  left: 26%;
}

.two {
  top: 25%;
  right: 10%;
}

.three {
  right: 10px;
  top: 46%;
}

.four {
  right: 30px;
  top: 67%;
}

.five {
  right: 78px;
  top: 80%;
}

.six {
  bottom: 10px;
  left: 50%;
}

.seven {
  left: 80px;
  top: 82%;
}

.eight {
  left: 30px;
  top: 67%;
}

.nine {
  left: 10px;
  top: 46%;
}

.ten {
  top: 25%;
  left: 10%;
}

/* Analog clock */